.footer {
    background-color: #f5f5f5;
    bottom: 0;
    height: 60px;
    position: absolute;
    width: 100%;
}



.Status-pane{	
	color: 0088CC;
}

.table  
.text-left {text-align: left}